<div class="anchors">
  {{#each content in controller.contents}}
    {{anchor content.id content.heading}}
  {{/each}}
</div>

{{#each content in controller.contents}}
  {{view "contentSection" content=content}}
{{/each}}